/* DropdownFilter.css */

.dropdown-filter {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

/* .dropdown-filter-container {
    display: inline-block;
    position: relative;
  }
  
  .dropdown-filter-select {
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #fff;
    cursor: pointer;
  }
  
  .dropdown-filter-select:focus {
    outline: none;
    border-color: #007bff;
  }
  
  option {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 10;
    background-color: #fff;
    border: 1px solid #af1515;
    border-top: none;
    border-radius: 0 0 4px 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    overflow: hidden;
  }
  
  .dropdown-filter-option {
    padding: 8px;
    font-size: 16px;
    cursor: pointer;
  }
  
  .dropdown-filter-option:hover {
    background-color: #f5f5f5;
  }
  
   */