

  .t1{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .overlay{
    position: fixed;
    background-color: antiquewhite;
    display: flex;
    flex-direction: column;
    padding: 30px;
    border-radius: 10px;
  }

  .overlay div{
    padding: 5px;
  }

  