
.t0{
  display: flex;
  flex-direction: row;
  justify-content: space-between;



}

label input[type=email] {
  width: 100%;
  padding: 12px;
  margin-left: 10px;
  box-sizing: border-box;
  background-color:azure;
  border-radius: 15px;
 
}

input[type=email]:focus {
  background-color: rgb(238, 216, 168);
}

label input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  background-color:azure;
  border-radius: 15px;
}

input[type=password]:focus {
  background-color: rgb(238, 216, 168);
}

  .t1{
    color: black;
  }

  .overlay{
    position: fixed;    
    display: flex;
    flex-direction: column;
    justify-content: center;  
    z-index: 100;
    background-color: rgb(0, 0, 0,0.5);
    width: 100%;
    height: 200%;
 

  }

  .notTrue {
    border: none;
    background: none;
    color: rgb(255, 241, 241);
    text-decoration: underline;
    cursor: pointer;
  }

  .t5{


    background-color:rgb(243, 174, 72);
    border-radius: 10px;
    padding: 20px;
    margin: auto;
    z-index: 10;

    
  }

  .t3{


    color: rgb(238, 216, 168);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }

  