
.c4{
  margin: auto;
  background: rgb(71, 199, 87);
  background: linear-gradient(
    0deg,
    rgba(71, 199, 87, 1) 0%,
    rgba(253, 151, 45, 1) 100%
  );
  padding: 15px;
  border-radius: 10px;
  z-index: 1;
}

.c1{
 
  display: flex;

}

.c2 {
  z-index: 1;
  width: 80%;
  height: 700px;
  padding-top: 60px;
  margin: auto;
  position: relative;
}